<div data-controller="drawer">
  <button data-action="click->drawer#toggle" class="<%= era_text_color(question.era) %> underline hover:scale-90 ml-7 capitalize font-normal text-xs">
    View History
  </button>

  <div
    data-drawer-target="drawer"
    class="flex flex-col fixed inset-0 lg:left-3/4 dark:bg-black bg-white border border-gray-800 lg:pt-5 pb-20 min-h-screen font-normal text-sm z-50 hidden capitalize p-5 overflow-y-scroll w-full sm:w-11/12 lg:max-w-2xl lg:transform lg:-translate-x-1/2"
    data-id="#{question.id}_history">
    <div class="flex gap-4 sm:gap-6 lg:gap-10 items-center">
      <button type='button' data-action="click->drawer#close" class="dark:text-gray-200 text-gray-800 text-2xl">
      &times;
      </button>
      <h2 class="dark:text-gray-200 text-gray-800 font-semibold uppercase lg:text-base text-sm">
          <%= question.content %> history
      </h2>
    </div>
    <hr class="border border-gray-100">
    <div
      data-drawer-target="content"
      data-url="<%= drawer_content_quiz_question_path(quiz_id: question.quiz_id, id: question.id) %>">
    </div>
  </div>
</div>