<div class="min-h-screen pt-10">

  <div class="px-10">
    <%= render 'components/breadcrumb', breadcrumbs: [
      {text: 'home', path: root_path},
      {text: "#{@quiz.title}", path: tour_path(@quiz.tour)},
      {text: "#{@quiz.title} Quiz", path: quiz_path(@quiz)},
      {text: "Questions", path: quiz_questions_path(@quiz)},
      {text: "#{@question.content}" }
    ] %>
  </div>

  <div class="flex justify-between items-center px-10 mb-8">
    <%= render 'history_drawer', question: @question %>
  </div>

</div>