<div class="pt-10 px-12 min-h-screen">

  <h5 class="font-semibold font-courier uppercase text-md py-5"><%= @question.content %> history
  </h5>

  <div class="grid lg:grid-cols-6 grid-cols-3 gap-4 mt-5">
    <% Tour.where.not(base: true).where.not(status: [:pending, :open]).includes(:quiz).order(number: :desc).each do |tour| %>
      <% quiz = tour.quiz %>
      <% question = quiz.questions.find_by(content: @question.content) %>
      <% unless question.include_album_and_song? %>
        <% choice = question.choices.find_by(correct: true) %>
        <% if choice %>
          <div class="flex flex-col gap-3">
          <%= image_tag(choice.image, alt: "#{choice.content}", class: 'w-full h-72 object-cover object-center rounded') if choice.image.attached? %>
          <div class="flex flex-col gap-1">
           <p class="text-sm capitalize font-semibold"><%=choice.content %></p>
           <p class="text-sm capitalize font-medium"><%=tour.title %></p>
          </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>