<div class="pt-10 px-12 min-h-screen">

  <%= render 'components/breadcrumb', breadcrumbs: [
    { text: 'quizzes', path: root_path },
    { text: "#{@quiz.title}", path: quiz_path(@quiz)},
    { text: "Questions", path: quiz_questions_path(@quiz)},
    { text: "New Question"}
  ] %>

  <h1 class="font-semibold text-xl font-courier capitalize">New question</h1>

  <%= render "form", question: @question %>
</div>
