<div class="lg:pt-32 pt-24 pb-20 lg:px-12 px-5 min-h-screen">

  <%= render 'components/breadcrumb', breadcrumbs: [
    { text: 'home', path: root_path },
    { text: "Leaderboards" },
  ]
  %>

   <div data-controller='tabs'>
    <%= render 'components/tabs', tabs: [
      { id: 'general', label: 'general', partial: 'general_leaderboard' },
      { id: "#{current_user.leaderboard.slug}", label: "#{current_user.leaderboard.name}", partial: 'user_leaderboard' },
    ] %>
  </div>

</div>