<div class="pt-10 px-12 min-h-screen">

  <%= render 'components/breadcrumb', breadcrumbs: [
    { text: 'home', path: root_path },
    { text:  "Edit Mashup Answer"}
  ] %>

  <h1 class="font-semibold text-xl font-courier capitalize">Edit</h1>

  <%= render "form", mashup_answer: @mashup_answer %>

</div>
