<div class="pt-10 px-12 min-h-screen">

<%= render 'components/breadcrumb', breadcrumbs: [
    { text: 'home', path: root_path },
    { text: "#{@question.quiz.title}", path: quiz_path(@question.quiz) },
    { text: "#{@question.content}", path: quiz_question_path(@question.quiz, @question)},
    { text: 'Choices'},
    { text: 'New Choice'}
  ] %>

  <h1 class="font-semibold text-xl font-courier capitalize">New choice</h1>


  <%= render "form", choice: @choice %>

</div>
