<div class="pt-10 px-12 min-h-screen">

<%= render 'components/breadcrumb', breadcrumbs: [
    { text: 'home', path: root_path },
    { text: 'Outfits', path: outfits_path},
    { text: 'New Outfit'}
  ] %>

  <h1 class="font-semibold text-xl font-courier capitalize">New outfit</h1>


  <%= render "form", outfit: @outfit %>

</div>
