<div class="pt-10 lg:px-12 px-5 min-h-screen flex flex-col">

  <%= render 'components/breadcrumb', breadcrumbs: [
    { text: 'home', path: root_path },
    { text: "users" },
  ]
  %>
  <div class="flex justify-between items-center mt-10">
    <h5 class="font-semibold font-courier uppercase text-md ">users (<%= @users.size %>) </h5>
  </div>
  <%= render 'table', users: @users %>
  <div class="flex justify-end t-3">
    <%= will_paginate @users %>
  </div>
</div>

