<footer class="bg-black text-white w-full flex flex-col justify-center lg:absolute bottom-0 p-3 text-xs gap-2">
  <h5 class="font-courier uppercase">Disclaimer</h5>
  <p class="">
  This is a web application based on the Allie fantasy swiftball by <a href="https://x.com/swiftballers" target="_blank" class="font-medium hover:underline">@swiftballers</a>. I built this app as a fun project and to challenge myself and practice my web development skills. It's in no way affiliated to the <a href="https://x.com/swiftballers" target="_blank" class="font-medium hover:underline">allie fantasy swiftball.</a>
  </p>
</footer>