<div class="flex flex-col  gap-2 justify-center items-center">
  <div class="h-24 w-24 bg-white rounded-full flex justify-center items-center hover:animate-spin">
    <div class="h-12 w-12 bg-black rounded-full flex justify-center items-center">
      <h1 class="text-white text-2xl font-courier">13</h1>
    </div>
  </div>
  <h1 class="text-white text-3xl font-courier font-bold">swiftball</h1>
</div>