<div class="flex flex-col capitalize overflow-x-scroll">
  <div class="mt-10">
    <%= render_chart @album_song_stats, 'Album', 'No data', 'albums', chart_type: 'column_chart', height: '600px'   %>
  </div>
</div>