<div class="flex flex-col mt-5 gap-10">
  <div class="flex  flex-col  gap-10">
    <h5 class="text-sm font-bold uppercase">
      Album Distribution by Instrument
      <hr class="mb-2" />
    </h5>
    <%= render 'instrument_distribution' %>
  </div>

  <div class="flex flex-col gap-5">
    <h5 class="text-sm font-bold uppercase">
      Album / Song Records
      <hr class="mb-2" />
    </h5>
    <%= render 'highest_records' %>
  </div>

  <div class="flex flex-col gap-5">
    <h5 class="text-sm font-bold uppercase">
      Album / Song Distribution Breakdown
      <hr class="mb-2" />
    </h5>
    <%= render 'album_song_distribution' %>
  </div>
</div>
