<div class="pt-10 px-12 min-h-screen">

  <%= render 'components/breadcrumb', breadcrumbs: [
    { text: 'home', path: root_path },
    { text: 'disclaimer'}
  ] %>

  <hr />


<div class="flex flex-col justify-center p-3  gap-4 lg:w-3/4 text-sm">
  <h5 class="font-courier uppercase">Disclaimer</h5>
  <p class="">
    This is a web application based on the Allie fantasy swiftball by <a href="https://x.com/swiftballers" target="_blank" class="font-medium hover:underline">@swiftballers</a>.
  </p>
  <p>
    I built this app as a fun project to keep a record of my swiftball answers and scores and to challenge myself and practice my web development skills. It's in no way affiliated to the <a href="https://x.com/swiftballers" target="_blank" class="font-medium hover:underline">allie fantasy swiftball.</a>
  </p
  <p>
    There are NO PRIZES to be won, this is for the purpose of keeping a record of your answers and tracking your score.
  </p>
</div>

</div>