<div class="pt-10 px-12 min-h-screen">

  <%= render 'components/breadcrumb', breadcrumbs: [
    { text: 'home', path: root_path },
    { text: 'privacy policy'}
  ] %>

  <hr />

  <h5 class="text-lg font-bold">Privacy Policy</h5>


<p class="leading-7 text-sm py-5">
  1. Introduction
  <br />
  Swiftball ("we", "us", "our") is committed to protecting your privacy. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you use our App.

  <br />
  <br />

  2. Information We Collect
  <br />
  Personal Information: Information that identifies you personally, such as your name, email address, and phone number.
  <br />
  Usage Data: Information on how you access and use the App, including your IP address, browser type, and device information.

  <br />
  <br />

  3. How We Use Your Information
  <br />
  To Provide and Maintain the App: To operate and provide you with the features and functionality of the App.
  <br />
  To Communicate with You: To send you updates, notifications, and other information related to the App.
  <br />
  To Improve the App: To analyze usage patterns to enhance user experience and app performance.
  <br />
  <br />

  4. Sharing Your Information
  <br />
  We may share your information with third parties in the following circumstances:
  <br />
  Service Providers: With vendors and service providers who assist us in operating the App.
  <br />
  Legal Requirements: If required by law or to protect our rights.
  <br />
  <br />

  5. Security
  <br />
  We implement reasonable security measures to protect your information. However, no system is completely secure, and we cannot guarantee the absolute security of your information.

  <br />
  <br />

  6. Data Retention
  <br />
  We will retain your information for as long as necessary to fulfill the purposes outlined in this Privacy Policy, unless a longer retention period is required or permitted by law.

  <br />
  <br />

  7. Your Rights
  <br />
  Access: You have the right to access and obtain a copy of your personal information.
  <br />
  Correction: You have the right to request correction of any inaccurate or incomplete information.
  <br />
  Deletion: You have the right to request the deletion of your personal information under certain circumstances.

  <br />
  <br />

  8. Changes to This Privacy Policy
  We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.

  <br />
  <br />

  9. Contact Us
  <br />
  If you have any questions about this Privacy Policy, please contact us at [info@webcafe.africa].
</p>
</div>
