<div class="pt-10 pb-5 lg:px-12 px-6 min-h-screen">
  <%= render 'components/breadcrumb', breadcrumbs: [
    { text: 'home', path: root_path },
    { text: 'surprise songs'}
  ] %>

  <div data-controller='tabs'>
    <%= render 'components/tabs', tabs: [
      { id: 'songs', label: 'songs', partial: 'songs' },
      { id: 'stats', label: 'stats', partial: 'songs_stats' },
      { id: 'guide', label: 'guide', partial: 'guide' }
    ] %>
  </div>
</div>



