<div class="lg:pt-32 pt-24 pb-20 px-12 min-h-screen">

  <%= render 'components/breadcrumb', breadcrumbs: [
    { text: 'home', path: root_path },
    { text: "Edit #{@tour.title}", path: new_tour_path}
  ] %>

  <h1 class="font-semibold text-xl font-courier capitalize">edit quiz</h1>

  <%= render "form", tour: @tour %>
</div>
