<div class="pt-10 px-12 min-h-screen">

  <%= render 'components/breadcrumb', breadcrumbs: [
    { text: 'quizzes', path: root_path },
    { text: 'New Quiz', path: new_tour_path}
  ] %>


  <h1 class="font-semibold text-xl font-courier capitalize">New quiz</h1>

  <%= render "form", tour: @tour %>

</div>
