<div class="lg:pt-32 pt-24 pb-20 px-12 min-h-screen">

<%= render 'components/breadcrumb', breadcrumbs: [
    { text: 'home', path: root_path },
    { text: 'feedback', path: feedbacks_path },
    { text: 'New'}
  ] %>

  <h1 class="font-semibold text-xl font-courier capitalize">Send a message</h1>


  <%= render "form", feedback: @feedback %>

</div>
