@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  html {
    scroll-behavior: smooth;
    @apply font-roboto font-light;
  }

  .masonry-grid {
    column-count: 1;
    column-gap: 0.5rem;
  }

  @media (min-width: 640px) {
    .masonry-grid {
      column-count: 2;
    }
  }

  @media (min-width: 768px) {
    .masonry-grid {
      column-count: 3;
    }
  }

  @media (min-width: 1024px) {
    .masonry-grid {
      column-count: 5;
    }
  }

  .masonry-item {
    break-inside: avoid;
    margin-bottom: 1rem;
  }
}


