<nav class="bg-black text-white shadow-lg">
  <div class="flex justify-between items-center p-4 ">
    <%= link_to root_path,  class: "flex gap-2 items-center justify-center hover:bg-black/10"  do %>
      <div class="flex gap-2 justify-center items-center">
        <div class="h-10 w-10 bg-white rounded-full flex justify-center items-center hover:animate-spin">
          <div class="h-5 w-5 bg-black rounded-full flex justify-center items-center p-1">
            <h1 class="text-white text-xs font-courier">13</h1>
          </div>
        </div>
        <h1 class="text-white text-lg font-courier font-bold uppercase">swiftball</h1>
      </div>
    <% end %>

    <p class="text-white text-lg font-courier font-bold uppercase">
      Hello,
      <%= link_to current_user.name, edit_user_registration_path, class: 'hover:underline' %>
    <p>

    <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'bg-white hover:bg-gray-100 px-4 py-2 rounded text-black font-courier font-medium capitalize' %>
  </div>
</nav>