<nav class="dark:bg-black/95 bg-gray-50 shadow-sm dark:shadow-gray-500 border-b dark:border-none fixed w-full z-50">
  <div class="flex justify-between items-center p-4 ">
    <%= link_to root_path,  class: "flex gap-2 items-center justify-center lg:px-8"  do %>
      <div class="flex lg:flex-row flex-col gap-2 justify-center items-center">
        <div class="lg:h-10 h-6 lg:w-10 w-6 dark:bg-white bg-black rounded-full flex justify-center items-center hover:animate-spin">
          <div class="lg:h-5 h-3 lg:w-5 w-3 dark:bg-black/95 bg-white rounded-full flex justify-center items-center p-1">
            <h1 class="lg:text-xs text-[5px] font-courier">13</h1>
          </div>
        </div>
        <h1 class="lg:text-lg text-xs font-courier font-bold uppercase lg:block hidden">swiftball</h1>
      </div>
    <% end %>

    <p class="lg:text-lg xs:text-sm text-xs font-courier font-bold uppercase">
      Hi,
      <%= link_to current_user.username, edit_user_registration_path, class: 'hover:underline' %>
    <p>

    <div class="flex items-center gap-4 lg:px-12">
      <button id="dark-mode-toggle" class="cursor-pointer px-4 " onclick="toggleTheme()">
      </button>
      <i class='fa-solid fa-bars cursor-pointer' onclick="document.getElementById('sidebar').classList.toggle('hidden')"></i>

    </div>
  </div>

  <%= render 'layouts/sidebar', items: sidebar_items %>
</nav>

<script>
  function applyStoredTheme() {
    const theme = localStorage.getItem('theme');
    const htmlElement = document.documentElement;

    if (theme === 'dark') {
      htmlElement.classList.add('dark');
      updateButtonText('dark');
    } else {
      htmlElement.classList.remove('dark');
      updateButtonText('light');
    }
  }

  function toggleTheme() {
    const theme = localStorage.getItem('theme');
    const htmlElement = document.documentElement;

    if (theme === 'light') {
      htmlElement.classList.add('dark');
      updateButtonText('dark');
      localStorage.setItem('theme', 'dark');
    } else {
      htmlElement.classList.remove('dark');
      updateButtonText('light');
      localStorage.setItem('theme', 'light');
    }
  }

  function updateButtonText(theme) {
    const toggleButton = document.getElementById('dark-mode-toggle');

    if (theme === 'dark') {
      toggleButton.innerHTML = '<i class="fa-regular fa-lightbulb"></i>';
    } else {
      toggleButton.innerHTML = '<i class="fa-solid fa-lightbulb"></i>';
    }
  }

  document.addEventListener('DOMContentLoaded', applyStoredTheme);

  document.addEventListener('turbo:load', applyStoredTheme);
</script>

