<nav class="bg-black text-white shadow-lg">
  <div class="flex justify-between items-center p-4 ">
    <%= link_to root_path,  class: "flex gap-2 items-center justify-center hover:bg-black/10"  do %>
      <div class="flex lg:flex-row flex-col gap-2 justify-center items-center">
        <div class="h-10 w-10 bg-white rounded-full flex justify-center items-center hover:animate-spin">
          <div class="h-5 w-5 bg-black rounded-full flex justify-center items-center p-1">
            <h1 class="text-white text-xs font-courier">13</h1>
          </div>
        </div>
        <h1 class="text-white lg:text-lg font-courier font-bold uppercase lg:block hidden">swiftball</h1>
      </div>
    <% end %>

    <p class="text-white text-lg font-courier font-bold uppercase">
      Hello,
      <%= link_to current_user.username, edit_user_registration_path, class: 'hover:underline' %>
    <p>



      <div class="">
        <i class='fa-solid fa-bars cursor-pointer' onclick="document.getElementById('sidebar').classList.toggle('hidden')"></i>
        <%= render 'layouts/sidebar', items: navbar_items %>
      </div>

  </div>
</nav>