<div class="masonry-grid p-2 overflow-clip bg-black relative">
  <% eras_tour_images.each do |image| %>
    <div class="masonry-item rounded-lg">
      <%= image_tag image, alt: "Placeholder Image", class: "w-full h-auto rounded-lg" %>
    </div>
  <% end %>
</div>